/*  
Henrique Teixeira de Oliveira
Pontifícia Universidade Católica do Rio de Janeiro
University of Southern California
E-mail: henriquetcro@gmail.com
+55(21)981430609
Rio de Janeiro, Brazil 
*/

p.logo {
    font-size: 18px;
    margin: auto;
    padding: 18px 0px;
    text-align: center;
}

div.tabela{
    width: 60%;
}

ul.topnav {
      list-style-type: none;
      padding: 0;
      align-self: center;
      overflow: hidden;
      background-color: forestgreen;
    }

ul.topnav li {
      float:left;
    }

ul.topnav li#menu_left {
      margin: 0 0 0 10%;
      
    }
ul.topnav li#menu_right {
      margin: 0 0 0 10%;
    }
ul.topnav li.doacao{
    float: right;
    margin: 0 10% 0 0;
}
ul.topnav li.doacao{
    float: right;
}


ul.topnav li a {
      display: inline-block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      transition: 0.5s;
      font-size: 17px;
    }

ul.topnav li a:hover {
      background-color: #45a049;
    }


ul.topnav li.icon {
    display: none;
}

@media screen and (max-width:1150px) {
    ul.topnav li:not(:first-child){
        display: none;
    }
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
}

@media screen and (max-width:1150px) {
    ul.topnav.responsive {
        position: relative;
    }
    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
}

ul.topnav.responsive li {
    float: none;
    display: inline;
}
    
ul.topnav.responsive li a {
    display: block;
    text-align: left;
}
    



div.footer {
    bottom: 0;
    width: 90%;
    margin: auto;
    align-content: center;
}    

p.p-footer {
    margin: auto;
    text-align: center;
    font-size: 14px;
}
            