/*  
Henrique Teixeira de Oliveira
Pontifícia Universidade Católica do Rio de Janeiro
University of Southern California
E-mail: henriquetcro@gmail.com
+55(21)981430609
Rio de Janeiro, Brazil 
*/

body {
    margin: 0;
    width: 100%;
}

h1 {
    font-family: "Cambria";
    font-size: 22px;
    text-align:center;
    align-self: center;
    margin: 40px auto;

}

h2 {
    font-family: "Cambria";
    font-size: 18px;
    text-align:justify;
    align-self: center;
    width: 100%;
}

label {
    font-family: "Cambria";
    font-size: 16px;
    
}

div#interface {
    width: 80%;
    margin:-20px auto;

}

div#menu {
    width: 100%;
    margin: -16px auto auto auto;
}

input[type=text], select {
    font-family: "Cambria";
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select[type=data] {
    padding: 5px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px black;
}

input[name=cadastrar] {
    font-family: "Cambria";
    font-size: 18px;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 12px 0px;
    margin: 8px 0;
    border: none;
    border-radius: 10px; /* the button will have a  */
    cursor: pointer; /* the cursor will change to a pointer */
    text-align: center; /* the text will align inside the "cadastrar" box */
}

input[name=cadastrar]:hover {
    background-color: #45a049;
}

div[class=cadastrar] {
    margin: 16px auto;
    width: 70%;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 15px 15px 0.1px 15px;
    box-shadow: 0px 0px 3px black;
}

div[class=sexo] {

    padding: 7px 0px 7px 0px;
}

.facebook {
    float:left;
    width:30%;
}

p[id=aviso] {
    color: red;
    font-size: 12px;
    margin: 0px;
}

/*-----------------------------------------------*/