/*  
Henrique Teixeira de Oliveira
Pontifícia Universidade Católica do Rio de Janeiro
University of Southern California
E-mail: henriquetcro@gmail.com
+55(21)981430609
Rio de Janeiro, Brazil 
*/

h1 {
    font-size: 18px;
}

h2 {
    font-size: 15px;
    text-align: center;  
}

ul#eventos {
    width: 900px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;    
}

ul#eventos li {
    float: left;
    width: 400px;
    height: 350px;
    margin: 15px;
    border: 5px solid #ffffff;
    align-content: center;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
}

ul#eventos li#evento1 {
    background: url(images/Henrique-kfk.jpg) no-repeat;
}


